/* Proper Setup For @font-face */
@font-face {
    font-family: myFont;
    src: url(../fonts/bladerunner/bladerunner.ttf);
}

:root {
    --gradient: linear-gradient(90deg, #000000, #1b1a1b);
}

body, header {
    margin: 0;
    padding: 0;
    background: var(--gradient);
}

.container {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #790a14; */
}

.text {
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8); */
    width: 900px;
    background: url(../img/bladerunnergif.gif);
    background-size: 890px 180px;
    font-size: 180px;
    font-family: myFont;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    color: #790a14;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #790a14;
}

.movies {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.movies .movie-box {
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.movies .movie-box:hover {
    transform: translateY(-20px);
}

.movies .movie-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.movies .movie-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #03a9f4, #ff0058);
    filter: blur(30px);
}

.movies .movie-box .span-1 {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../img/terminator.jpg);
    background-size:300px 480px;
    z-index: 2;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.movies .movie-box .span-2 {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../img/bladerunner.jpg);
    background-size:300px 400px;
    z-index: 2;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.movies .movie-box .span-3 {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../img/therunningman.webp);
    background-size:300px 400px;
    z-index: 2;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.movies .movie-box .span-5 {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../img/drive.jpg);
    background-size:300px 400px;
    z-index: 2;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.movies .movie-box .span-6 {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: url(../img/akira.jpg);
    background-size:300px 400px;
    z-index: 2;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.movies .movie-text h3 {
    font-family: myFont;
    margin-bottom: 10px;
    font-size: 2em;
    color: #fff;
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}


.music-cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    text-align: center;
    
}

.music-card {
    padding: 100px 50px;
    margin: 30px 30px;
    border-radius: 5%;
    padding-top: 30px;
}

.music-cards .music-card:hover {
    box-shadow: 0 10px 30px rgb(126, 4, 6);
}

.music-card img {
    max-height: 60%;
    max-width: 60%;
    border-radius: 5%;
    box-shadow: 0 10px 30px #790a14;
    background-color: linear-gradient(315deg, #03a9f4, #ff0058);
    /* margin: auto; */
}

.music-cards .music-card h2 {
    font-family: myFont;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #790a14;
}

.title {
    font-family: myFont;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: #990621;
}

.divider {
    width: 95%;
    height: 1px;
    margin: 40px auto;
    background-color: #790a14;
}